@model List<Product>

@{ 
    ViewData["Title"] = "Product List";
}

<h2 style="text-align:center">Product List</h2>
<div>
    <table class="table table-bordered table-hover">
        <thead style="background-color:black;color:white">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr id="@item.ProductId">
                    <td>@item.ProductId</td>
                    <td>@item.Name</td>
                    <td>@($"{item.Price:C}")</td>
                    <td><a asp-controller="Product" asp-action="Details" asp-route-slugLink="@item.Slug">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="position:sticky;right:10px;top:1px">Home</a>
</div>
<script type="text/javascript">
    var items = [0,1, 2, 3, 4, 5, 6, 7, 8,9,10];
    for (let i = 1; i < items.length;i++) {
        var element = document.getElementById(items[i]);
        if (i % 2 != 0) {
            element.style.backgroundColor = "yellow";
        }
        console.log(element);
    }
    
    //for (let i = 1; i < 11; i+2) {
    //    var items = document.getElementById(i);
    //    items.style.backgroundColor = "yellow";
    //   // console.log(items);
    //}
</script>